<div id="footer-wrapper">
    <section id="footer" class="container">
        <div class="row">
            <div class="span4"></div>
            <div class="span4 ac">  </div>
            <div class="span4 ar"> Copyright © 2016 SoftBet WebShop. All rights reserved. </div>
        </div>
    </section>
</div>