<!DOCTYPE html>
<html ng-app="appmvc">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <base href="/">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @Styles.Render("~/Content/css")
</head>
<body class="lyt-cols-3">