<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body class="lyt-cols-3" >
    <div id="page">
        <section id="header">
            <div id="logobar" class="container">
            </div>
            <div class="container">
                @Html.Partial("_MenuNav")
            </div>
        </section>
        <div id="content-wrapper">
            <section id="content" class="container drop-shadow lifted">

                <div id="content-body" class="row">
                    <div id="content-left" class="span3">
                        @Html.Partial("_MenuLeft")
                    </div>
                    <div id="content-center" class="span7">
                        <div class="page home-page">
                            <div class="page-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                    <div id="content-right" class="span3">
                        <div class="block block-bordered block-poll">
                            <div class="block-title">Titulo</div>
                        </div>
                    </div>
                </div>
                
            </section>
        </div>
        <div id="footer-wrapper">
            <section id="footer" class="container"></section>
        </div>
    </div>



    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-loader.min.js"></script>
    <script src="~/Scripts/app/app.js"></script>
</body>
</html>