<div id="megamenu" class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav nav-smart shrinkable">
                <li>
                    <a href="/Home">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="/Carrito">
                        <i class="fa fa-cart-plus"></i> Carrito
                    </a>
                </li>
                <li class="dropdown">
                    <a href="/Cliente/Register">
                        <i class="fa fa-registered"></i> Registro
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>