<div id="megamenu" class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav nav-smart shrinkable">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    @Html.ActionLink("Categoria", "Index", "Categoria")
                </li>
            </ul>
        </div>
    </div>
</div>