<div class="block block-bordered block-category-navigation" ng-controller="MenuLeftController">
    <div class="block-title">
        Categorias
    </div>
    <div class="block-body listbox">
        <nav class="nav-category">
            <ul class="level-1">
                <li class="parent" ng-repeat="item in menuleft" ng-cloak>
                    <a href="/Producto/Lista/{{item.CodCategoria}}">{{item.Nombre}}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>