
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_ProductoInfo.cshtml";
}

<div class="category-grid home-page-category-grid" ng-controller="CategoriaController">
    <div class="block-body">
        <div class="data-list data-list-grid">

            <div class="data-list-row row-fluid" ng-repeat="xsubcategoria in subcategorias" ng-cloak>
                <div class="span4 data-list-item equalized-column" data-equalized-deep="true" ng-repeat="item in xsubcategoria">
                    <article class="item-box">
                        <div class="category-item homepage-category-item">
                            <h2 class="category-title" data-equalized-part="name" style="min-height: 18px;">
                                <a href="/Producto/Lista/{{item.CodSubCategoria}}">{{item.Nombre}}</a>
                            </h2>
                            <div class="picture" data-equalized-part="picture" style="min-height: 125px;">
                                <a href="/Producto/Lista/{{item.CodSubCategoria}}" title="#">
                                    <img alt="{{item.CodSubCategoria}}" src="~/Content/Img/producto/SC{{item.CodSubCategoria}}.jpg" width="125" height="125" title="#">
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

        </div>
    </div>
</div>