
@{
    ViewBag.Title = "Index";
}

<div class="product-grid home-page-product-grid block">
    <div class="block-title">
        Titulo
    </div>
    <div class="block-body">
        <div class="data-list data-list-grid">
            <div class="data-list-row row-fluid">
                <div class="span4 data-list-item equalized-column" data-equalized-deep="true">
                    <div class="item-box">
                        <figure class="picture" data-equalized-part="picture" data-equalized-valign="true" style="min-height: 100px; line-height: 100px; vertical-align: middle;">
                            <a href="@Url.Action("Index", "Producto", new { Id = 1 })" title="#">
                                <img alt="#" src="~/Content/Images/MAUSE-WIFI-BLUETOOTH.jpg" title="#">
                            </a>
                        </figure>
                        <div class="data">
                            <h3 class="name" data-equalized-part="name" style="min-height: 40px;">
                                <a href="@Url.Action("Index", "Producto", new { Id = 1 })">
                                    <span>Titulo</span>
                                </a>
                            </h3>
                            <p class="description" data-equalized-part="description" style="min-height: 36px;">
                                xxxxxxxxxxxxxxxxxxxxxxxxxx
                            </p>
                            <div class="prices" data-equalized-part="prices" style="min-height: 18px;">
                                <p class="product-price">
                                    <span class="price text-success">10,00 $</span>
                                </p>
                            </div>
                            <div class="buttons">
                                <a data-href="#" href="#" class="btn btn-warning ajax-cart-link" title="Add to cart" rel="tooltip nofollow" data-type="cart" data-action="add">
                                    <i class="fa fa-lg fa-cart-arrow-down"></i>
                                </a>
                                <a href="#" class="btn">
                                    <i class="fa fa-info-circle"></i>
                                    Detalles
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4 data-list-item equalized-column" data-equalized-deep="true">
                    <div class="item-box">
                        <figure class="picture" data-equalized-part="picture" data-equalized-valign="true" style="min-height: 100px; line-height: 100px; vertical-align: middle;">
                            <a href="#" title="#">
                                <img alt="#" src="~/Content/Images/MAUSE-WIFI-BLUETOOTH.jpg" title="#">
                            </a>
                        </figure>
                        <div class="data">
                            <h3 class="name" data-equalized-part="name" style="min-height: 40px;">
                                <a href="#">
                                    <span>Titulo</span>
                                </a>
                            </h3>
                            <p class="description" data-equalized-part="description" style="min-height: 36px;">
                                xxxxxxxxxxxxxxxxxxxxxxxxxx
                            </p>
                            <div class="prices" data-equalized-part="prices" style="min-height: 18px;">
                                <p class="product-price">
                                    <span class="price text-success">10,00 $</span>
                                </p>
                            </div>
                            <div class="buttons">
                                <a data-href="#" href="#" class="btn btn-warning ajax-cart-link" title="Add to cart" rel="tooltip nofollow" data-type="cart" data-action="add">
                                    <i class="fa fa-lg fa-cart-arrow-down"></i>
                                </a>
                                <a href="#" class="btn">
                                    <i class="fa fa-info-circle"></i>
                                    Detalles
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4 data-list-item equalized-column" data-equalized-deep="true">
                    <div class="item-box">
                        <figure class="picture" data-equalized-part="picture" data-equalized-valign="true" style="min-height: 100px; line-height: 100px; vertical-align: middle;">
                            <a href="#" title="#">
                                <img alt="#" src="~/Content/Images/MAUSE-WIFI-BLUETOOTH.jpg" title="#">
                            </a>
                        </figure>
                        <div class="data">
                            <h3 class="name" data-equalized-part="name" style="min-height: 40px;">
                                <a href="#">
                                    <span>Titulo</span>
                                </a>
                            </h3>
                            <p class="description" data-equalized-part="description" style="min-height: 36px;">
                                xxxxxxxxxxxxxxxxxxxxxxxxxx
                            </p>
                            <div class="prices" data-equalized-part="prices" style="min-height: 18px;">
                                <p class="product-price">
                                    <span class="price text-success">10,00 $</span>
                                </p>
                            </div>
                            <div class="buttons">
                                <a data-href="#" href="#" class="btn btn-warning ajax-cart-link" title="Add to cart" rel="tooltip nofollow" data-type="cart" data-action="add">
                                    <i class="fa fa-lg fa-cart-arrow-down"></i>
                                </a>
                                <a href="#" class="btn">
                                    <i class="fa fa-info-circle"></i>
                                    Detalles
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="data-list-row row-fluid">
                <div class="span4 data-list-item equalized-column" data-equalized-deep="true">
                    <div class="item-box">
                        <figure class="picture" data-equalized-part="picture" data-equalized-valign="true" style="min-height: 100px; line-height: 100px; vertical-align: middle;">
                            <a href="#" title="#">
                                <img alt="#" src="~/Content/Images/MAUSE-WIFI-BLUETOOTH.jpg" title="#">
                            </a>
                        </figure>
                        <div class="data">
                            <h3 class="name" data-equalized-part="name" style="min-height: 40px;">
                                <a href="#">
                                    <span>Titulo</span>
                                </a>
                            </h3>
                            <p class="description" data-equalized-part="description" style="min-height: 36px;">
                                xxxxxxxxxxxxxxxxxxxxxxxxxx
                            </p>
                            <div class="prices" data-equalized-part="prices" style="min-height: 18px;">
                                <p class="product-price">
                                    <span class="price text-success">10,00 $</span>
                                </p>
                            </div>
                            <div class="buttons">
                                <a data-href="#" href="#" class="btn btn-warning ajax-cart-link" title="Add to cart" rel="tooltip nofollow" data-type="cart" data-action="add">
                                    <i class="fa fa-lg fa-cart-arrow-down"></i>
                                </a>
                                <a href="#" class="btn">
                                    <i class="fa fa-info-circle"></i>
                                    Detalles
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4 data-list-item equalized-column" data-equalized-deep="true">
                    <div class="item-box">
                        <figure class="picture" data-equalized-part="picture" data-equalized-valign="true" style="min-height: 100px; line-height: 100px; vertical-align: middle;">
                            <a href="#" title="#">
                                <img alt="#" src="~/Content/Images/MAUSE-WIFI-BLUETOOTH.jpg" title="#">
                            </a>
                        </figure>
                        <div class="data">
                            <h3 class="name" data-equalized-part="name" style="min-height: 40px;">
                                <a href="#">
                                    <span>Titulo</span>
                                </a>
                            </h3>
                            <p class="description" data-equalized-part="description" style="min-height: 36px;">
                                xxxxxxxxxxxxxxxxxxxxxxxxxx
                            </p>
                            <div class="prices" data-equalized-part="prices" style="min-height: 18px;">
                                <p class="product-price">
                                    <span class="price text-success">10,00 $</span>
                                </p>
                            </div>
                            <div class="buttons">
                                <a data-href="#" href="#" class="btn btn-warning ajax-cart-link" title="Add to cart" rel="tooltip nofollow" data-type="cart" data-action="add">
                                    <i class="fa fa-lg fa-cart-arrow-down"></i>
                                </a>
                                <a href="#" class="btn">
                                    <i class="fa fa-info-circle"></i>
                                    Detalles
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4 data-list-item equalized-column" data-equalized-deep="true">
                    <div class="item-box">
                        <figure class="picture" data-equalized-part="picture" data-equalized-valign="true" style="min-height: 100px; line-height: 100px; vertical-align: middle;">
                            <a href="#" title="#">
                                <img alt="#" src="~/Content/Images/MAUSE-WIFI-BLUETOOTH.jpg" title="#">
                            </a>
                        </figure>
                        <div class="data">
                            <h3 class="name" data-equalized-part="name" style="min-height: 40px;">
                                <a href="#">
                                    <span>Titulo</span>
                                </a>
                            </h3>
                            <p class="description" data-equalized-part="description" style="min-height: 36px;">
                                xxxxxxxxxxxxxxxxxxxxxxxxxx
                            </p>
                            <div class="prices" data-equalized-part="prices" style="min-height: 18px;">
                                <p class="product-price">
                                    <span class="price text-success">10,00 $</span>
                                </p>
                            </div>
                            <div class="buttons">
                                <a data-href="#" href="#" class="btn btn-warning ajax-cart-link" title="Add to cart" rel="tooltip nofollow" data-type="cart" data-action="add">
                                    <i class="fa fa-lg fa-cart-arrow-down"></i>
                                </a>
                                <a href="#" class="btn">
                                    <i class="fa fa-info-circle"></i>
                                    Detalles
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
