    <ul id="breadcrumb" class="breadcrumb">
        <li>
            {{producto.Nombre}}
        </li>
    </ul>

    <div id="TotalPriceUpdateContainer" class="page-body update-container" data-referto="#ProductAttributes, #AddToCart, #ProductBundleOverview">
        <form name="FormShop" id="product-details-form" ng-submit="AddProducto()">
            <input type="text" name="CodProducto" style="display: none;" ng-value="{{producto.CodProducto}}" value="{{producto.CodProducto}}" />
            <article itemscope="" itemtype="http://schema.org/Product">
                <div class="row-fluid top-content">
                    <div class="product-image span6">
                        <div class="pd-gallery-container-outer">
                            <div class="pd-gallery-container">
                                <div id="pd-gallery" class="picture pd-gallery">
                                    <div class="sg-image-wrapper">
                                        <div class="sg-image" style="width: 270px; height: 300px; top: 0px; left: 84px;">
                                            <a>
                                                <img ng-src="/Content/Img/producto/{{producto.CodProducto}}.jpg" err-src="/Content/Img/producto/default.jpg" data-zoom-image="{{producto.CodProducto}}.jpg" style="max-height: 300px; max-width: 400px" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-data span6">
                        <div class="page-title alpha">
                            <h1 class="product-name" itemprop="name">{{producto.Nombre}}</h1>
                        </div>
                        <div id="details-cnt">
                            <div class="short-description line alpha">
                                {{producto.Descripcion}}
                            </div>
                            <div id="AddToCart">
                                <div class="price-details price-block line well">
                                    <div class="clearfix">
                                        <div class="pull-right without-discount-block">
                                            <span class="product-price current text-success">
                                                <span class="product-price-without-discount" itemprop="price">
                                                    S/.{{producto.Precio}} + IGV
                                                </span>
                                            </span>
                                        </div>
                                        <div class="pull-left"></div>
                                    </div>
                                </div>
                                <div class="add-to-cart line">
                                    <div class="form-inline clearfix" style="text-align: right;">
                                        <label class="qty-label">Cantidad</label>
                                        <input id="Cantidad" name="Cantidad" ng-model="Cantidad" class="qty-input" type="text" style="width: 30px; height: 25px;" value="1" />
                                        <span style="margin-right: 5px;"></span>
                                        <button ng-click="submit()" class="btn btn-warning add-to-cart-button ajax-cart-link">
                                            Agregar
                                            <i class=" fa fa-cart-plus">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </form>
    </div>